.side{
display: inline-block;
width:400px;
height:100%;
border: 2px solid;
border-color: rgba(0, 0, 0, 0.5);
/*border-radius: 3px;*/
/*background-color: green;*/
}
.canvas{
    width:auto;
      height:100%;
       border: 2px solid;
       border-color: rgba(0, 0, 0, 0.5);
       overflow:hidden;
/*background-color: green;*/
}
.left{
    float:left;
}
.right{
    float:right;
}

.icon{
    height:50px;
    width: 50px;
    background-color: #ddd;
    border-radius:6px;
}

.modules{

margin:5px;

height:400px;
/*background-color: green;*/
}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #0099ff;
    color: white;
    text-shadow: 2px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #0066cc;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 10 18px;
    background-color: white;
    display: none;
}
